$font-stack: 'Source Sans Pro', sans-serif;

$theme-colors: (
  "primary": #1C444F,
  "secondary": #4876AB,
  "background": #C6E4DC,
  "light-background": #7ab8ff,
  "dark": #000000,
  "light": #e8f1ff
);
html{
    background-color: map-get($theme-colors, "light-background");
}

.info{
    background-color: map-get($theme-colors, "light-background");
    width: 100%; 
    text-align: center;
}

h1, h3{
    font-family: $font-stack;
    color: map-get($theme-colors, "primary");
    text-align: center;
}

p{
    font-family: $font-stack;
    color: map-get($theme-colors, "secondary");
    text-align: center;
}

input{
    text-align: center;
}

.item{
    background-color: map-get($theme-colors, "light");
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    canvas{
        border: solid black;
    }
    button{
        margin-bottom: 10px;
        padding: 10px;
        color: map-get($theme-colors, "primary");
    }
}

.mobile, .mesh, .draw{display: none;}

@media screen and (min-width: 0){
    .item{
        h1{font-size:20px;}
        h3{font-size:15px;}
        p{font-size:10px;}
    }
    canvas{
        width: 250px;
        height: 250px;
    }
}
@media screen and (min-width: 530px){
    .item{
        h1{font-size:30px;}
        h3{font-size:25px;}
        p{font-size:15px;}
    }
    canvas{
        width: 450px;
        height: 450px;
    }
}
@media screen and (min-width: 768px){
    .item{
        h1{font-size:40px;}
        h3{font-size:20px;}
        p{font-size:10px;}
    }
    canvas{
        width: 500px;
        height: 500px;
    }
}
@media screen and (min-width: 1000px){
    .item{
        h1{font-size:50px;}
        h3{font-size:30px;}
        p{font-size:20px;}
    }  
    canvas{
        width: 700px;
        height: 700px;
    }
}